USE [master]
GO
/****** Objeto: Database [clase_2] Fecha de script: 19/07/2026 07:13:01 p. m. ******/
CREATE DATABASE [clase_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'clase_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\clase_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'clase_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\clase_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [clase_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [clase_2]
GO
/****** Objeto: Table [dbo].[produc] Fecha de script: 19/07/2026 07:13:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produc](
	[id] [int] NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[clase] [varchar](5) NOT NULL,
 CONSTRAINT [PK_produc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuar] Fecha de script: 19/07/2026 07:13:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuar](
	[id] [int] NULL,
	[name] [varchar](10) NULL,
	[adress] [varchar](50) NULL,
	[edad] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
